@media (min-width: 720px) and (max-width: 1180px){
    .responsive-div{
        width: 4vh;
        height: 4vh;
    }
    .text-size{
        font-size: 14px;
        grid-column: span 3;
    }
}

@media(min-width: 1181px){
    .responsive-div{
        width: 12vh;
        height: 12vh;
    }
    .text-size{
        grid-column: span 3;
    }
}
