@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.background-text {
    color: rgb(216, 0, 50);
    width: 100%;
    text-align: center;
    font-size: 15vw;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;


    font-family: 'Bayon', sans-serif;
    letter-spacing: 15px;
    z-index: -1;
    top: 0;
}
.background-text-m {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 18px; 
    color: rgba(216, 0, 50, 0.5)
}

.resources {
    width: 100vw;
    height: 86.5vh;
}

.resources-main-content {
    z-index: 1;
    margin-top: 66vh;
    padding-top: 30vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resources-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 50%;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 2px solid #333533;
    box-sizing: border-box;
    align-items: center;

}
.red-text {
    color: #D80032;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-left: 15px;
    font-weight: 600;

}

.resources-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    margin-top: 50px;
}

.resources-button {
    background-color: #333533;
    color: #D6D6D6;
    width: 400px;
    height: 70px;
    font-size: 38px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.link {
    text-decoration: none;
}
.magnifier {
    width: 50px;
    height: 50px;
    padding-right: 15px;
}