@tailwind base;
@tailwind components;
@tailwind utilities;

.base-img {
  vertical-align: middle;
  position: relative;

  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.background {
  z-index: -1;
  position: absolute;
  background-image: url('/img/home-bg.png');
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.text-shadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ffffff, #ffffff);
  background-size: 0 1px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 1px;
}

.link-underline-selected {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#e40337, #e40337);
}
